body{
	margin:1%;
	padding:1%;
	font-size:150%;
    font-family: "Lora", sans-serif;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

h1{
	font-size: 30px; 
	font-weight: bold;
  text-align: center;
}


img{
    height: 200px;
    width:auto;
    border: 3px solid #0e4361;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}


h2{
	font-size: 2em; 
	font-weight: bold;
}

nav{
  align-content: center;
}

nav ul{
   text-align: center;
   vertical-align: middle;
}

nav li{
	background-color: #FDFF33;
	padding:10px;
	width:auto;
	border:1px solid black;
    border-radius: 10px;
	display: block;
    color: black;
    text-align: center;
}

nav li:hover{
    border: 2px dashed black;
    /* background-color: ; */
}

.navigation:active{
  /* color: ; */
  background-color: gray;
}

footer{
    text-align: center;
    color: white;
    background-color: #0e4361;
    width: 100%;
}

td{
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
  }
  
  /*Req 6b*/
  .colhead{
    color: #FFFFFF;
    background-color: #0e4361;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    min-width: 125px;
  }
  /*Req 6c*/
  .rowhead{
    border-right: 2px solid black;
    border-top: 2px solid black;
    /* border-color: black; */
  }
  
  /*Req 6d*/
  tr:nth-child(odd){
    background-color: transparent;
  }
  
  /*Req 6e*/
  tr:nth-child(even){
    background-color: #D1D1D1;
  }
  
  /*Req 6f*/
  tr:hover{
    background-color: rgba(14, 67, 97, 0.25);
  }
  
  
  /*Req 7*/
  table{
      width: auto;
      border: 2px solid #000000;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
  }
  
  thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
  }
  
  /*Add selectors and rules here*/
  thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
  }
  
  tbody tr:last-child th{
    border-bottom-left-radius: 10px;
  }
  
  tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
  }

  .container{
    display: grid;
    grid-column: auto;
    align-self: center;
    justify-items: center;
  }

  .leader img{
    align-self: center;
  }

  figcaption{
    text-align: center;
  }

  .gallery{
    /* min-height: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
  }

  @media all and (min-width: 750px){
    nav li{
      display:inline-block;
      width: auto;
    }
    .container{
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      margin-left: auto;
      margin-right: auto;
    }

  }