/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
    font-family: "Lora", sans-serif;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 30px; 
	font-weight: bold;
    text-align: center;
}

/*Style the images*/
img{
    height: 200px;
    width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}



nav li{
	background-color: yellow;
	padding:10px;
	width:20%;
	border:1px solid black;
    border-radius: 10px;
	display: inline-block;
    color: white;
}

nav li:hover{
    border: 2px dashed black;
    background-color: ;
}

footer{
    text-align: center;
    color: white;
    background-color: #0e4361;
    width: 100%;
}

td{
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
  }
  
  /*Req 6b*/
  .colhead{
    color: #FFFFFF;
    background-color: #0e4361;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    min-width: 125px;
  }
  /*Req 6c*/
  .rowhead{
    border-right: 2px solid black;
    border-top: 2px solid black;
    /* border-color: black; */
  }
  
  /*Req 6d*/
  tr:nth-child(odd){
    background-color: transparent;
  }
  
  /*Req 6e*/
  tr:nth-child(even){
    background-color: #D1D1D1;
  }
  
  /*Req 6f*/
  tr:hover{
    background-color: rgba(14, 67, 97, 0.25);
  }
  
  
  /*Req 7*/
  table{
      border: 2px solid #000000;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
  }
  
  thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
  }
  
  /*Add selectors and rules here*/
  thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
  }
  
  tbody tr:last-child th{
    border-bottom-left-radius: 10px;
  }
  
  tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
  }

  .gallery{
    /* min-height: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
  }