body{
	margin:1%;
	padding:1%;
	font-size:150%;
  font-family: "Lora", sans-serif;
  background-image: url("../images/concrete_seamless.png");

  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

h1{
	font-size: 45px; 
	font-weight: bold;
  text-align: center;
}

.pillar{
  font-size: 30px;
}

.club, .mission{
  font-size: 25px;
}

#excell, #family, #joy{
  font-style: italic;
  font-size: 25px;
}

.excell, .family, .joy{
  font-size: 20px;
}


img{
    height: 200px;
    width:auto;
    border: 3px solid #0e4361;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}


h2{
	font-size: 2em; 
	font-weight: bold;
}

header{
  background-color: #0e4361;
  height: 250px;
  width: 100%;
  align-content: center;
  text-align: center;
}

nav{
  align-content: center;
  position:relative;
  top: -50px;
}

nav ul{
   text-align: center;
   vertical-align: middle;
}

nav li{
	background-color: #FDFF33;
	padding:10px;
	width:25%;
	border:1px solid black;
  border-radius: 10px;
	display: block;
  color: black;
  text-align: center;
}

.current:link, .current:visited{
  background-color: gray;
  cursor: default;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

nav li:hover{
    border: 2px dashed black;
    /* background-color: ; */
}



#logo{
  /*Your code here.*/
  height: fit-content;
  background-color: none;
	padding:none;
  border: none;
  margin: none;
  animation-name: logo_grow;
  -webkit-animation-name: logo_grow;
  animation-duration: 5s;
  animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
}

footer{
    text-align: center;
    color: white;
    background-color: #0e4361;
    width: 100%;
}

td{
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
  }
  
  /*Req 6b*/
  .colhead{
    color: #FFFFFF;
    background-color: #0e4361;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    min-width: 125px;
  }
  /*Req 6c*/
  .rowhead{
    border-right: 2px solid black;
    border-top: 2px solid black;
    /* border-color: black; */
  }
  
  /*Req 6d*/
  tr:nth-child(odd){
    background-color: transparent;
  }
  
  /*Req 6e*/
  tr:nth-child(even){
    background-color: #D1D1D1;
  }
  
  /*Req 6f*/
  tr:hover{
    background-color: rgba(14, 67, 97, 0.25);
  }
  
  
  /*Req 7*/
  table{
      width: auto;
      border: 2px solid #000000;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
  }
  
  thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
  }
  
  /*Add selectors and rules here*/
  thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
  }
  
  tbody tr:last-child th{
    border-bottom-left-radius: 10px;
  }
  
  tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
  }

  .container{
    display: grid;
    grid-column: auto;
    align-self: center;
    justify-items: center;
  }

  .leader img{
    align-self: center;
  }

  figcaption{
    text-align: center;
  }

  .gallery{
    /* min-height: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover  .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card:focus{
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility:hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  /* .flip-card-front { */
    /* background-color: #bbb; */
    /* color: black; */
  /* } */
  
  /* Style the back side */
  .flip-card-back {
    background-color: #0e4361;
    color: white;
    transform: rotateY(180deg);
  }

  @media all and (min-width: 750px){
    nav li{
      display:inline-block;
      width: auto;
    }
    .container{
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      margin-left: auto;
      margin-right: auto;
    }

  }